<div class="flex items-center justify-center min-h-full px-4 py-12 sm:px-6 lg:px-8 lg:mt-4">
    <div class="w-full max-w-md space-y-8">
        <div>
            <img class="w-auto h-12 mx-auto" src="assets/images/logo-netcare-horizontal.svg" alt="Workflow">
            <h2 class="mt-6 font-extrabold text-center text-gray-700 text-2lg">
                Ingresa tus credenciales de administrador
            </h2>
        </div>
        <form class="mt-8 space-y-6">
            <input type="hidden" name="remember" value="true">
            <div class="-space-y-px rounded-md shadow-sm">
                <div>
                    <label for="email-address" class="sr-only">Correo Electrónico</label>
                    <input id="email-address" [(ngModel)]="username" name="email" (keyup)="validarEmail()" type="email" autocomplete="email" required class="form-input rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Correo electrónico">
                    <small class="text-red-600" *ngIf="usernameStatus ===  false ">Este email no es válido </small>

                </div>
                <div>
                    <label for="password" class="sr-only">Contraseña</label>
                    <input id="password" [(ngModel)]="password" name="password" type="password" autocomplete="current-password" required class="form-input rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Contraseña">
                </div>
            </div>

            <!-- <div class="flex items-center justify-end">

                <div class="text-sm">
                    <a [routerLink]="['/auth/recover']" class="font-medium text-indigo-600 hover:text-indigo-500">¿Olvidaste tu contraseña? </a>
                </div>
            </div> -->

            <div>

                <button type="button" (click)="Login()" (keyup.enter)="Login()" [disabled]="username.length === 0 && password.length === 0 || usernameStatus === false" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-700 border border-transparent rounded-md outline-none btn-primary hover: focus: ring-2 ring-offset-2 ring-indigo-500 disabled:opacity-40"
                    style="background-color: #542583;">
                        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                        <!-- Heroicon name: solid/lock-closed -->
                        <svg class="w-5 h-5 text-white group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                        </svg>
                        </span>
                        Inicia Sesión
                </button>
            </div>
        </form>
    </div>
</div>
